@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* variables de color */



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

button{
  background-color: orangered;
}

/* SECCION HEADER */

header{
  background: linear-gradient(orangered, orange);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

nav{
  display: flex;
  gap: 20px;
}

nav a{
  text-decoration: none;
  color: #ffffff;
}

.logo {
  min-width: 30vw;
  width: 300px;
}

/* SECCION HERO */

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  background-image: url(../imagenes/cerro-siete-colores1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero h2{
  color: white;
  font-size: 60px;
  text-shadow: 5px 5px black;
}

.hero p{
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px black;
}


/* SECCIONES */
.seccion1{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 80px;
}

.seccion1 h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.seccion1 p{
  margin-bottom: 20px;
}


.galeria{
  width: 100%;
  margin: auto;
  list-style: none;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 26px;

}

.galeria li img{
  width: 290px;
  height: 300px;
  object-fit: cover;
  }




  .seccion2{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 80px;
  }
  
  .seccion2 h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
  }




/* inicio estilo tarjeta dinamica */
.contenedorTarjeta{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.tarjeta{
  background-color: rgb(109, 109, 109);
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
  width: 290px;
  margin-bottom: 20px; 
}

.tarjeta h1{
  display: flex;
  justify-content: center;
}

.tarjeta h2{
  text-align: center;
}

.tarjeta img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.encabezado-tarjeta{
  position: relative;
  display: inline-block;
  text-align: center;
}

.destino{
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 2.5em;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
}

.mostrar{
  display: none;
}

.text_btn1{
  display: none;
}



.seccion3{
  padding: 0px 80px;
}

.seccion3 h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.seccion-cotizador{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.seccion3 img {
  width: 400px;
  object-fit: cover;
}

.campo{
  font-size: 1.5em;
  padding: 10px;
}




.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-contenido {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

/* fin tarjeta dinamica */


/* formulario de contacto */
/* #contacto {
  
  padding: 50px;
  text-align: center;
}

#contacto h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
}

.campo label {
  font-weight: bold;
  margin-bottom: 5px;
}

.campo input,
.campo textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  width: 100%;
}

.boton-enviar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.boton-enviar button:hover {
  background-color: #0069d9;
}
    
.campo input.invalid,
.campo textarea.invalid{
    border: 2px solid red;
}
.invalid{
  border: 2px solid red;
}
.error-message {
color: red;
display: block;
margin-top: 5px;
font-size: 16px;
}

label {
  margin-bottom: 8px;
}
.mensaje-exito {
font-size: 16px;
border: 2px solid #1144eb;
border-radius: 5px;
padding: 20px;
background-color: #2b71db ;
color: white;
display: none;
}

.mensaje-exito-activo {
display: block;
}
select,
input[type="number"] {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #0069d9;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result {
  margin-top: 16px;
  display: none;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: #ddd;
}

#download-button {
  background-color: #4CAF50;
  color: white;
}

#download-button:hover {
  background-color: #3e8e41;
}

#edit-button {
  background-color: #f44336;
  color: white;
}

#edit-button:hover {
  background-color: #9f2222;
} */


/* Inicio footer */
footer {
text-align: center;
background-color: #2c4c6e;
width: 100%;
padding-bottom: 0.5em;

}  
.icons {
display: flex;
flex-direction: row;
justify-content: center;
color: white;  
font-size: 30px;
padding: 20px;
}
.icons:hover{
transition: 1ms;
color: #34c5c5;
}
.text-footer{
font-family: 'Hind Siliguri', sans-serif;
color: white;
padding: 30px;
    
}







/* @media only screen and (min-width: 320px) and (max-width: 576px){
.tarjeta-contenido{
    display: none;
}
} */

/* @media screen and (min-width: 768px)
{.paquetes-disponibles, .paquetes-disponibles-tags {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}} */

/*   @media (max-width: 768px) {
    .nav-links {
      display: none;
     
    } */


  /* Estilo adicional para mostrar solo dos filas */
  /* @media (max-width: 768px) {
    .contenedor-imagenes {
      flex-wrap: nowrap;
      overflow-x: scroll;
      justify-content: flex-start;
    }
  
    .contenedor-imagenes img {
      width: calc(50% - 10px);
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    .contenedor-imagenes img:last-child {
      margin-right: 0;
    }
  } */