@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* variables de color */

:root{
  --color-naranja1: #FF4500;
  --color-naranja2: #E63D00;
  --color_naranja3: #BF3300;
  --color-naranja4: #802200;
  --color-naranja5: #401100;
  --color-naranja6: #FF940D;
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::placeholder{
  color: white;
}


/* SECCION HEADER */

header{
  background: linear-gradient(var(--color-naranja2), var(--color-naranja6));
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  min-width: 15vw;
  width: 300px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover{
  background-color: #e7d423;
  transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

/* SECCION INICIO */

.inicio{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  animation: superposicion 50s infinite alternate;
}

@keyframes superposicion {
 0%, 14%{
  background-image: url(../imagenes/slider\ \(1\).jpg);
 }
 14%, 28%{
  background-image: url(../imagenes/slider\ \(2\).jpg);
 }
 28%, 42%{
  background-image: url(../imagenes/slider\ \(3\).jpg);
 }
 42%, 56%{
  background-image: url(../imagenes/slider\ \(4\).jpg);
 }
 56%, 70%{
  background-image: url(../imagenes/slider\ \(5\).jpg);
 }
 70%, 84%{
  background-image: url(../imagenes/slider\ \(6\).jpg);
 }
 84%, 100%{
  background-image: url(../imagenes/slider\ \(7\).jpg);
 }
}

.inicio h2{
  color: white;
  font-size: 60px;
  text-shadow: 5px 5px black;
  margin-bottom: 10px;
}

.inicio p{
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px black;
}


/* SECCION 1 */
.seccion1{
  margin: auto;
  max-width: 60%;
  min-height: 80vh;
}

.seccion1 h2{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 2em;
}

.seccion1 p{
  margin-bottom: 20px;
}


.galeria{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  box-sizing: border-box;
  gap: 2%;

}

.galeria li img{
  max-width: 100%;
  height: 350px;
  object-fit: cover;
  transition: all 300ms;
  position: relative;
  }

.galeria li img:hover{
  transform: scale(1.05);
  }




/* SECCION 2 */

.seccion2{
  margin: auto;
  max-width: 60%;
  min-height: 80vh;
}
  
  .seccion2 h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2em;
  }


/* inicio estilo tarjeta dinamica */
.contenedorTarjeta{
  display: flex;
  justify-content: center;
  gap: 1%;
  flex-wrap: wrap;
}

.tarjeta{
  background-color: rgb(109, 109, 109);
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
  width: 32%;
  margin-bottom: 20px; 
}

.tarjeta h1{
  display: flex;
  justify-content: center;
}

.tarjeta h2{
  text-align: center;
}

.tarjeta img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.encabezado-tarjeta{
  position: relative;
  display: inline-block;
  text-align: center;
}

.destino{
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 2.5em;
  transform: translate(-50%, -50%);
  text-shadow: 1 1 6px rgba(0, 0, 0, 0.702);
}

.descricorta{
  margin-bottom: 30px;
}

.mostrar{
  display: none;
}

.text_btn1{
  display: none;
}
/* fin tarjeta dinamica */





/* SECCION 3 */
.seccion3 button{
  background-color: var(--color-naranja1);
  color: white;
  border: none;
  padding: 10px;
  width: 80px;
  text-align: center;
}


.seccion3{
  padding: 20px 110px;
  min-height: 60vh;
  background-image: url(../imagenes/parque-sierra-de-san.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.seccion3 h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.seccion-cotizador{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 30px;
}

.form-cotizador{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion3 img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}


.seccion3 button{
  background-color: var(--color-naranja1);
  color: white;
  border: none;
  padding: 10px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  cursor:pointer;
}

.seccion3 button:hover{
  background-color: white;
  color: var(--color-naranja1);
  border: 1px solid var(--color-naranja1);
  transition: background-color 0.3s ease-in-out;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-contenido {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  text-align: center;
}



input, select, textarea{
  border-radius: 5px;
  background-color: rgb(109, 109, 109);
  color: white;
  border: none;
  height: 40px;
  padding: 5px;
  font-size: 16px;
}

.campo{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
}




/* SECCION 4 */

.seccion4 button{
  background-color: orangered;
  color: white;
  border: none;
  padding: 10px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  cursor:pointer;
}

.seccion4 button:hover{
  background-color: white;
  color: orangered;
  border: 1px solid orangered;
  transition: background-color 0.3s ease-in-out;
}

.seccion4{
  padding: 0px 110px;
  margin-bottom: 30px;
}

.seccion4 h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  margin-top: 30px;
}

.seccion4 p{
  text-align: center;
  margin-bottom: 20px;
}

.seccion-contacto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 30px;
}

.seccion4 img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.form-contacto{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-contacto textarea{
  max-width: 100%;
  min-height: 100%;
  min-height: 200px;
  max-height: 500px;
}

.mensaje-exito{
  display: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.campo input.invalid,
.campo textarea.invalid{
    border: 2px solid red;
}
.invalid{
  border: 2px solid red;
}
.error-message {
color: red;
display: block;
margin-top: 5px;
font-size: 16px;
}

label {
  margin-bottom: 8px;
}
.mensaje-exito {
font-size: 16px;
border: 2px solid #1144eb;
border-radius: 5px;
padding: 20px;
background-color: #2b71db ;
color: white;
display: none;
}

.mensaje-exito-activo {
display: block;
}



/* Inicio footer */
footer {
text-align: center;
background-color: var(--color-naranja5);
width: 100%;
padding-bottom: 0.5em;

}  

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;  
  font-size: 30px;
  padding: 20px;
  cursor:pointer;
  }

.icons:hover{
transition: 1ms;
color: var(--color-naranja1);
}

.text-footer{
color: white;
padding: 30px;
    
}





  @media screen and (max-width: 360px){
    nav{
      display: none;
    }
    .btn-menu{
      display: block;
    }

    .inicio{
      min-height: 80vh;
    }

    .inicio h2{
      font-size: 2.5em;
    }

    .inicio p{
      font-size: 1.5em;
    }

    .seccion1{
        margin: auto;
        max-width: 90%;
        min-height: 80vh;
      }
  
      .galeria{
        width: 100%;
      }
  
      .galeria li img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        }
    
  /* quienes somos */
    
    

/* paquetes turisticos */
     .seccion2{
      margin: auto;
      max-width: 90%;
      min-height: 50vh;
    }



/* cotizador */
    .seccion3{
      max-width: 100%;
      padding: 0%;
    }

    .seccion-cotizador img{
      display: none;
    }



/* contacto */
    .seccion4{
      margin: auto;
      max-width: 90%;
      padding: 0%;
      margin-bottom: 30px;
    }

    .seccion-contacto img{
      display: none;
    }
  }




  @media (max-width: 768px) {
    body {
      padding-top: 60px;
    }
  
    .header {
      height: 60px;
    }
  
    .logo {
      min-width: 10vw;
      width: 200px;
      line-height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #2c3e50;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
      height: calc(100% - 80px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s;
    }
  
    .nav-menu-item {
      line-height: 70px;
    }
  
    .nav-menu-link:hover{
      background: none;
      color: #e7d423;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
  }