@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* variables de color */

:root{
  --color-naranja1: #FF4500;
  --color-naranja2: #E63D00;
  --color_naranja3: #BF3300;
  --color-naranja4: #802200;
  --color-naranja5: #401100;
  --color-naranja6: #FF940D;
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::placeholder{
  color: white;
}


/* SECCION HEADER */

header{
  background: linear-gradient(var(--color-naranja2), var(--color-naranja6));
  /* background-color: var(--color-naranja2); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
}

nav{
  display: flex;
  gap: 20px;
}

nav a{
  text-decoration: none;
  color: #ffffff;
}

.logo {
  min-width: 15vw;
  width: 300px;
}

.btn-menu{
  display: none;
}

nav a:hover{
  color: var(--color-naranja6);
}



/* SECCION HERO */

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 70vh;
  padding: 30px;


  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  animation: superposicion 50s infinite alternate;

}

@keyframes superposicion {
 0%, 14%{
  background-image: url(../imagenes/slider\ \(1\).jpg);
 }
 14%, 28%{
  background-image: url(../imagenes/slider\ \(2\).jpg);
 }
 28%, 42%{
  background-image: url(../imagenes/slider\ \(3\).jpg);
 }
 42%, 56%{
  background-image: url(../imagenes/slider\ \(4\).jpg);
 }
 56%, 70%{
  background-image: url(../imagenes/slider\ \(5\).jpg);
 }
 70%, 84%{
  background-image: url(../imagenes/slider\ \(6\).jpg);
 }
 84%, 100%{
  background-image: url(../imagenes/slider\ \(7\).jpg);
 }
}

.hero h2{
  color: white;
  font-size: 4em;
  text-shadow: 5px 5px black;
  margin-bottom: 10px;
}

.hero p{
  color: white;
  font-size: 1.7em;
  text-shadow: 3px 3px black;
}


/* SECCION 1 */
.seccion1{

  margin: auto;
  max-width: 50%;
  min-height: 80vh;
}

.seccion1 h2{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 2em;
}

.seccion1 p{
  margin-bottom: 20px;
  text-align: justify;
}


.galeria{
  width: 100%;
  margin: auto;
  list-style: none;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5%;

}

.galeria img{
  max-width: 30%;
  height: 300px;
  object-fit: cover;

  transition: all 300ms;
  position: relative;
  }

  .galeria img:hover{
    transform: scale(1.05);
  }


/* SECCION 2 */

  .seccion2{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 200px;
  }
  
  .seccion2 h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2em;
  }


/* inicio estilo tarjeta dinamica */
.contenedorTarjeta{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.tarjeta{
  background-color: rgb(109, 109, 109);
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
  width: 290px;
  margin-bottom: 20px; 
}

.tarjeta h1{
  display: flex;
  justify-content: center;
}

.tarjeta h2{
  text-align: center;
}

.tarjeta img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.encabezado-tarjeta{
  position: relative;
  display: inline-block;
  text-align: center;
}

.destino{
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 2.5em;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
}

.mostrar{
  display: none;
}

.text_btn1{
  display: none;
}
/* fin tarjeta dinamica */





/* SECCION 3 */
.seccion3 button{
  background-color: var(--color-naranja1);
  color: white;
  border: none;
  padding: 10px;
  width: 80px;
  text-align: center;
}


.seccion3{
  padding: 20px 110px;
  min-height: 60vh;
  background-image: url(../imagenes/parque-sierra-de-san.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.seccion3 h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.seccion-cotizador{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 30px;
}

.form-cotizador{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion3 img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}


.seccion3 button{
  background-color: var(--color-naranja1);
  color: white;
  border: none;
  padding: 10px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  cursor:pointer;
}

.seccion3 button:hover{
  background-color: white;
  color: var(--color-naranja1);
  border: 1px solid var(--color-naranja1);
  transition: background-color 0.3s ease-in-out;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-contenido {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  text-align: center;
}



input, select, textarea{
  border-radius: 5px;
  background-color: rgb(109, 109, 109);
  color: white;
  border: none;
  height: 40px;
  padding: 5px;
  font-size: 16px;
}

.campo{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
}




/* SECCION 4 */

.seccion4 button{
  background-color: orangered;
  color: white;
  border: none;
  padding: 10px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  cursor:pointer;
}

.seccion4 button:hover{
  background-color: white;
  color: orangered;
  border: 1px solid orangered;
  transition: background-color 0.3s ease-in-out;
}

.seccion4{
  padding: 0px 110px;
  margin-bottom: 30px;
}

.seccion4 h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  margin-top: 30px;
}

.seccion4 p{
  text-align: center;
  margin-bottom: 20px;
}

.seccion-contacto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 30px;
}

.seccion4 img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.form-contacto{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-contacto textarea{
  max-width: 100%;
  min-height: 100%;
  min-height: 200px;
  max-height: 500px;
}

.mensaje-exito{
  display: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.campo input.invalid,
.campo textarea.invalid{
    border: 2px solid red;
}
.invalid{
  border: 2px solid red;
}
.error-message {
color: red;
display: block;
margin-top: 5px;
font-size: 16px;
}

label {
  margin-bottom: 8px;
}
.mensaje-exito {
font-size: 16px;
border: 2px solid #1144eb;
border-radius: 5px;
padding: 20px;
background-color: #2b71db ;
color: white;
display: none;
}

.mensaje-exito-activo {
display: block;
}



/* formulario de contacto */
/* #contacto {
  
  padding: 50px;
  text-align: center;
}

#contacto h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
}

.campo label {
  font-weight: bold;
  margin-bottom: 5px;
}

.campo input,
.campo textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  width: 100%;
}

.boton-enviar button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.boton-enviar button:hover {
  background-color: #0069d9;
}
    

select,
input[type="number"] {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #0069d9;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result {
  margin-top: 16px;
  display: none;
}




.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: #ddd;
}

#download-button {
  background-color: #4CAF50;
  color: white;
}

#download-button:hover {
  background-color: #3e8e41;
}

#edit-button {
  background-color: #f44336;
  color: white;
}

#edit-button:hover {
  background-color: #9f2222;
} */


/* Inicio footer */
footer {
text-align: center;
background-color: var(--color-naranja5);
width: 100%;
padding-bottom: 0.5em;

}  

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;  
  font-size: 30px;
  padding: 20px;
  cursor:pointer;
  }

.icons:hover{
transition: 1ms;
color: var(--color-naranja1);
}

.text-footer{
color: white;
padding: 30px;
    
}







/* @media only screen and (min-width: 320px) and (max-width: 576px){
.tarjeta-contenido{
    display: none;
}
} */

/* @media screen and (min-width: 768px)
{.paquetes-disponibles, .paquetes-disponibles-tags {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}} */

/*   @media (max-width: 768px) {
    .nav-links {
      display: none;
     
    } */


  /* Estilo adicional para mostrar solo dos filas */
  /* @media (max-width: 768px) {
    .contenedor-imagenes {
      flex-wrap: nowrap;
      overflow-x: scroll;
      justify-content: flex-start;
    }
  
    .contenedor-imagenes img {
      width: calc(50% - 10px);
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    .contenedor-imagenes img:last-child {
      margin-right: 0;
    }
  } */

  @media screen and (max-width: 400px){
    nav{
      display: none;
    }
    .btn-menu{
      display: block;
    }

    .hero{
      min-height: 50vh;
    }

    .hero h2{
      font-size: 3em;
    }

    .hero p{
      font-size: 1.5em;
    }


  /* quienes somos */
    .seccion1{
      margin: auto;
      max-width: 90%;
      min-height: 50vh;
    }

    .galeria{
      display: flex;
      flex-direction: column;
      width: 100%;    
    }

    .galeria img{
      max-width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 20px;
     }
    

/* paquetes turisticos */
     .seccion2{
      margin: auto;
      max-width: 90%;
      min-height: 50vh;
    }



/* cotizador */
    .seccion3{
      margin: auto;
      max-width: 90%;
      padding: 0%;
    }

    .seccion-cotizador img{
      display: none;
    }



/* contacto */
    .seccion4{
      margin: auto;
      max-width: 90%;
      padding: 0%;
      margin-bottom: 30px;
    }

    .seccion-contacto img{
      display: none;
    }
  }




  @media screen and (max-width: 800px){
    nav{
      display: none;
    }
    .btn-menu{
      display: block;
    }

    .logo {
      align-items: center;
    }

    /* hero */

    .hero{
      min-height: 50vh;
    }

  

    .hero h2{
      font-size: 3em;
    }

    .hero p{
      font-size: 1.5em;
    }

    /* Seccion 1 */
    .seccion1{
      margin: auto;
      max-width: 90%;
      min-height: 50vh;
    }

    

  }